/* You can add global styles to this file, and also import other style files */

/* mat-form-field {
  width: 100%;
} */

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-content {
  width: 600px;
  margin: 15px 25px;
}
